<h1>User info</h1>

<%= form_with model: @user do |form| %>
  <div>
    <h4>Name</h4>
    <%= form.text_field :name %>
  </div>

  <div>
    <h4>Introduction</h4>
    <%= form.text_field :introduction %>
  </div>

  <div><%= form.submit "Update User" %></div>
<% end %>