<% @books.each do |book| %>
  <div>
   <h1>Books</h1>
   <%= image_tag book.get_image %>
   <div>
     <h4>Title</h4>
     <%= book.title %></p>
   </div>
   <div>
     <h4>Opinion</h4>
     <%= book.body %>
   </div>
  </div>
 <% end %>