<div>
  <h1>Books</h1>
  <% @books.each do |book| %>
    <p>User info：<%= image_tag 'sample-author1.jpg' %></p>
    <p>Title: <%= book.title %></p>
    <p>Opinion: <%= book.body %></p>
  <% end %>
</div>